* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  height: 100vh;
  background-color: rgb(241, 179, 189);
  align-content: flex-start;
  grid-template-rows: 50px 200px 150px auto;
}
h2 {
  grid-row: 1/2;
}

.container {
  min-width: 300px;
  width: 50%;
  max-width: 700px;
  grid-row: 2/3;
  margin-inline: auto;
}
.get-jokes-btn,
.get-image-btn,
.get-search-btn {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid grey;
  box-shadow: -1px 1px 0.5px 0.5px;
  grid-row: 1;
  justify-self: center;
}
.jokes {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  font-size: 25px;
}
.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 10px auto;
}

.widgets {
  border: none;
  outline: none;
  transition: all 1s ease;
}
.hide {
  opacity: 0;
  transform: translateY(-50px);
  z-index: -1;
}
.image-joke {
  max-width: 100%;
}
.search-results {
  grid-row: 5;

  min-width: 300px;
  width: 50%;
  max-width: 700px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-inline: auto;
  color: rgb(63, 59, 59);
}
.widgets {
  grid-column: 3/4;
  grid-row: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.widgets input {
  height: 25px;
}
.srch-btn {
  padding: 5px;
}
