* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  height: 100vh;
  background-color: rgb(241, 179, 189);
  align-content: center;
  grid-template-rows: 200px 200px 200px;
}
h2 {
  grid-row: 1/2;
}

.container {
  min-width: 300px;
  width: 50%;
  max-width: 700px;
  grid-row: 2/3;
  margin-inline: auto;
}
button {
  grid-row: 3/4;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid grey;
  box-shadow: -1px 1px 0.5px 0.5px;
}
.jokes {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  font-size: 25px;
}
